<% layout('layouts/generic') %>
<div class="col-md-8 col-lg-10 mx-auto">
  <h1> My Listings </h1>
  <% for (let listing of listings) { %>
  <div class="row my-3 g-0 position-relative border">
    <div class="col-9 p-3">
      <a class="text-decoration-none" href="/listings/<%= listing.listingId %>">
        <h5 class="card-title mb-2"><%= listing.title %></h5>
      </a>
      <h6 class="card-subtitle mb-2">Quantity: <%= listing.quantity %></h6>
      <h6 class="card-subtitle mb-2">Cost: $<%= listing.price %></h6>
    </div>
    <div class="col-3 p-3 my-auto">
      <% if (!listing.removeDate) { %>
        <form action="/listings/<%= listing.listingId %>?_method=DELETE" method="POST">
          <input class="btn btn-danger" type="submit" name="removeListing" value="Remove Listing">
        </form>
        <a class="btn btn-info" href="/listings/<%= listing.listingId %>/edit">Edit Listing</a>
      <% } %>
    </div>
  </div>
  <% } %>
</div>
