<% layout('layouts/generic') %>
<div class="container col-10 mx-auto mb-3">
  <div class="row border">
    <div class="col-8 p-4">
      <h2 class="card-title"><%= listing.title %></h5>
      <p>
        <a class="text-decoration-none" href="/users/<%= listing.sellerEmail %>">
          <%= listing.sellerEmail %>
        </a>
      <% if (sellerRating) { %>
        <%= sellerRating %>★
      <% } %>
      </p>
      <h4 class="mb-5">$<%= listing.price %></h4>
      <p><%= listing.productDesc %></p>
      <% if (listing.postDate) { %>
        <p>Posted on: <%= listing.postDate %></p>
      <% } %>
      <p>Shop more listings in 
        <a class="text-decoration-none" href="/marketplace/<%= listing.category %>">
          <%= listing.category %>
        </a>
      </p>
    </div>
    <div class="col-4 p-4 align-self-end">
      <strong><%= listing.quantity %> in stock</strong>
      <form class="validate-form" action="/cart" method="POST" novalidate>
        <input type="hidden" name="listingId", value="<%= listing.listingId %>">
        <input type="hidden" name="inStock", value="<%= listing.quantity %>">
        <input type="hidden" name="sellerEmail", value="<%= listing.sellerEmail %>">
        <div class="form-floating mb-2 col-12">
          <input type="text" class="form-control" id="quantity" name="quantity" value="1" required>
          <label for="floatingInput">Quantity</label>
          <div class="invalid-feedback">
            Add desired quantity
          </div>
        </div>
        <button class="btn btn-primary col-12">Add to cart</button>
      </form>
    </div>
  </div>
</div>


<div class="col-10 offset-1">
    <h2>Reviews</h2>
    <% if (reviews) { %>
      <% for (let review of reviews) {%>
        <div class="card mb-3">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= review.desc %></h5>
                <h6 class="card-subtitle mb-2 text-muted">By: <%= review.buyerEmail %></h6>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
