<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>My Account</h1>
  <ul>
    <li>My orders</li>
    <li>My addresses</li>
    <li>My information</li>
    <li><a href="/change_password">Change my password</a></li>
  </ul>
</div>
