<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>My Account</h1>
  <ul class="list-group">
    <a class="list-group-item list-group-item-action text-decoration-none" href="/profile">Personal Infomation</a>
    <a class="list-group-item list-group-item-action text-decoration-none" href="/orders">Order History</a>
    <a class="list-group-item list-group-item-action text-decoration-none" href="/addresses">Saved Addresses</a>
    <a class="list-group-item list-group-item-action text-decoration-none" href="/cards">Payment Cards</a>
  </ul>
</div>
