<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>My Account</h1>
  <ul>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/orders">My Orders</a></li>
    <li><a href="/addresses">My Addreses</a></li>
    <li>My Cards</li>
  </ul>
</div>
