<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>Categories</h1>
  <ul>
  <% for (let category of categories) { %>
  <div class="list-group mb-5">
    <a href="/marketplace/<%= category.child %>" class="list-group-item list-group-item-action"><%= category.child %></a>
  <% } %>
  </ul>
</div>

